---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/about.css';
import { getCollection } from "astro:content";

// Carica le informazioni about
const aboutData = await getCollection("about");
const about = aboutData[0];
---
<BaseLayout title="About Me" description={about.data.shortBio}>
  <div class="about-container">
    <div class="about-content">
        {about.data.featuredImage &&
            <div class="about-image">
              <img src={about.data.featuredImage} alt={about.data.title} />
            </div>
          }
      <div class="about-text">
        <p set:html={about.data.shortBio}></p>

        <h3 class="small-titles">Core Skills</h3>
        <ul class="skills-container">
          {about.data.skills.map((skill) => (
            <li class="skill-tag">{skill}</li>
          ))}
        </ul>

        <h3 class="small-titles">My Links and Contacts</h3>
        <p><a href={`mailto:${about.data.contacts.email}`}>{about.data.contacts.email}</a></p>
        {about.data.contacts.github &&
          <p>GitHub: <a href={about.data.contacts.github} target="_blank">GitHub Profile</a></p>
        }
        {about.data.contacts.linkedin &&
          <p><a href={about.data.contacts.linkedin} target="_blank">LinkedIn Profile</a></p>
        }
        {about.data.contacts.itchio &&
            <p><a href={about.data.contacts.itchio} target="_blank">Itch.io Gallery</a></p>
          }
      </div>


    </div>
  </div>
</BaseLayout>
